// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html {
  height: 100%;
  @include media-breakpoint-up(md) {
    border-top: 5px solid #8ba753;
  }

  .header {
    position: absolute;

    @include media-breakpoint-down(sm) {
      box-shadow: 0 6px 4px -2px #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .header-icon {
      width: 130px;
      height: 50px;
      margin: 20px;
    }
  }

  body {
    height: 100%;
    background: $body-bg url(/image/bg-pattern.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100% 50%;

    @include media-breakpoint-down(sm) {
      background: $body-bg;
    }

    .top-logo {
      margin: 25px auto;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100px;
      }
    }

    .submitted-body {
      text-align: center;
      padding: 70px;

      @include media-breakpoint-down(sm) {
        padding: 30px;
      }
    }

    .validation-msg {
      width: 100%;
      margin-top: 0.25rem;
      font-size: 80%;
      color: $red;
    }

    #root {
      height: 100%;
    }

    .form-container {
      width: 550px;
      padding: 15px;
    }

    .box {
      height: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        height: auto;
        padding: 0;
      }

      .card{
        @include media-breakpoint-down(sm) {
          border:none;
          margin-top: 5px;
        }
      }

      label {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
      }

      .next-btn {
        @include media-breakpoint-down(sm) {
          width: 100%;
          margin: 10px auto;
        }
      }

      .back-btn {
        color: $green;
        background-color: #fff;
        border-color: #fff;
      }

      .btn-wrapper {
        @include media-breakpoint-down(sm) {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }
}
